---
layout: archive
---

{{ content }}

<hr/>

{% assign entries_layout = page.entries_layout | default: 'list' %}
<!--
# I'm not sure what this is trying to do but it doesn't work.
<div class="entries-{{ entries_layout }}">
  {% include posts-category.html taxonomy=page.taxonomy type=entries_layout %}
</div>
# So I wrote my own --JLS
-->
<div class="entries-{{ entries_layout }}">
  {% for category in site.categories %}
    {% if category[0] == page.category %}
      {% for post in category[1] %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
